/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, #925eca, #5677af);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 160%;
  max-width: 800px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.login-heading {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.login-subheading {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: #777;
}

.input-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #2575fc;
}

.login-btn {
  background-color: #2575fc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #6a11cb;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  width: 45%;
  border: 0;
  border-top: 1px solid #ccc;
}

.divider-text {
  margin: 0 10px;
  color: #777;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  color: #333;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.google-btn:hover {
  background-color: #e0e0e0;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  color: #2575fc;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
